# Virtualenv
.venv/
venv/

# Private data - NOT UPLOAD
data/real/
config/account_mapping.csv

# Private settigns
config/config.yaml
.streamlit/secrets.toml
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/

# General data file (Extra Protection)
*.xls
*.xlsx
*.csv

# Sistema
.DS_Store
Thumbs.db
